<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ScoreSaber pp 비교</title>

    <link rel="stylesheet" href="app.css">
</head>
<body>
    <app></app>
    <script type="text/template" id="template">
        <div id="app">
            <div id="players">
                <div id="player1">
                    <p class="name">{{ player1 }}</p>
                    <input type="text" class="url" v-model="url1">
                </div>
                <div id="player2">
                    <p class="name">{{ player2 }}</p>
                    <input type="text" class="url" v-model="url2">
                </div>
                <button id="compare" @click="compare">비교하기</button>
            </div>
            <div id="result">
                <p v-for="(data) in player1data">{{ data.name }} : {{ data.pp }}</p>
            </div>
        </div>
    </script>
    <script src="vue.min.js"></script>
    <script src="compare.js"></script>
</body>
</html>